h1, p {
    font-family: Helvetica, sans-serif
}

h1 {
    font-size: 4em;
}

h2 {
    font-family: Helvetica;
}

#hello {
    font-weight: bold;
}

.pic{
    padding: 40px;
    border-radius: 0px;
}

.image {
    background: #ccc;
    padding: 20px;
    border-radius: 20px;
    position: ;
}

.intro {
    font-size: 1.4em;
    background: #ccc;
    padding: 20px;
    border-radius: 20px;
}

.body {
    font-size: 1.4em;
    background: #ccc;
    padding: 20px;
    border-radius: 20px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid img {
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
}